

.flame-box {
  max-width: 400px;
  width: 100%;
  background-color: #fff;
}

input::placeholder {
  font-style: italic;
}

body {
  background-image: url('Images/bg4.gif') ;
  background-size: cover;
}

.btn-flames {
  background: url('Images/bg3.gif') no-repeat center center;
  background-size: cover;
  color: white;
  border: none;
  font-weight: bold;
  transition: transform 0.2s ease;
}

.btn-flames:hover {
  transform: scale(1.03);
  opacity: 0.9;
}
